@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f5; /* Você pode escolher uma cor de fundo */
}

#root {
  width: 100%;
  height: 100%;
}

.container-login, .container-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}

.container {
  background-color: lightblue;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  display: inline-table;
}